<!DOCTYPE html>
<html>

<head>
    <title>World Countries App</title>
</head>

<body>
    {% block content %}
    {% endblock %}
    <script type="text/javascript" src="../static/dist/index.cade8c1367b2fc7d4948.bundle.js"></script>
</body>

</html>